<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>message 출력</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<%--
    <div id="app">
      <ul><li>
            ID.1 슬라임 HP.100    
      </li><li>
            ID.2 고블린 HP.200    
      </li><li>
            ID.3 드래곤 HP.500    
      </li></ul>
    </div>
    
    형식) <li v-for="(item,index) in list">
               item:list 배열에서 요소 한 개씩 추출하여 저장하는 변수
               index:배열의 인덱스
 --%>
  <div id="app">
    <ul>
      <li v-for="(item,index) in list">
         {{index}} :    ID.{{item.id}} {{item.name}} HP.{{item.hp}}    
      </li>
    </ul>
    
    <ul>
      <li v-for="(item, key, index) in list">
              ID.{{item.id}} {{item.name}} HP.{{item.hp}}    
          
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script>
    var app=new Vue({
    	el:'#app',
    	data:{
    		list:[
    			{id:1, name:'슬라임',hp:100},
    			{id:2, name:'고블린',hp:200},
    			{id:3, name:'드래곤',hp:500}
    		]
    	}
    })
  </script>
</body>
</html>